# Flutter
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/pubspec.lock
client/android/.gradle/
client/android/local.properties
client/android/app/debug/
client/*.iml
client/.idea/

# Python
server/__pycache__/
server/*.pyc
server/qr.png

# General
*.log
.DS_Store
